<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Croissant.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,132},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>Cupcake.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,68},{60,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>Danish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{60,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>Donut.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>Macaroon.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{58,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{58,48}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>SugarCookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{60,62}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
            <key>Tile@2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,72}}</string>
                <key>sourceSize</key>
                <string>{64,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sweety.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f66725e92aab1f429eb83733452831f:1/1$</string>
            <key>textureFileName</key>
            <string>sweety.png</string>
        </dict>
    </dict>
</plist>
